body {
  font-family: "Roboto Mono", monospace;
  background-image: url("https://static.poder360.com.br/2020/10/Moedas-Real-Dinheiro-3-1-scaled-1-868x644.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-title {
  color: #ffffff;
}

.page-subtitle {
  color: #ffffff;
}

.page-logo {
  width: 200px;
  align-self: center;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 40px;
  right: 265px;
  background-color: aliceblue;
  border-radius: 60px 60px 60px 10px;
  transition: 0.4s;
}

.alura-logo:hover {
  border-radius: 60px;
  background-color: #fada06;
}
